<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="UTN:s event calendar">
        <meta name="author" content="UTN">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}UTN:s event calendar{% endblock %}</title>
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% block extra_js %}
        {% endblock %}
    </body>
</html>
